.PokeList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 250;
    margin-right: 250;
  }

  #cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }